#vue_charting .el-textarea__inner{
    padding: 0px;
    outline: none;
    border: none; 
}
#vue_charting .el-autocomplete{
    width: 100%;
}
#vue_charting .el-upload--text{
    border: none;
    height: auto;
    width: auto;
    overflow: inherit;
}
#vue_charting .el-upload-list{
    display: none;
}

/* 运营管理 话体设置/学院设置*/
#topicSetting .el-upload--text,#collegeSetting .el-upload--text{
    width: 65px;
    height: 65px;
}
#topicSetting .el-upload--text i,#collegeSetting .el-upload--text i{
    position: absolute;
    top: 43%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}

/* 运营管理 话题内容审核 */
#topicCheck .el-dialog__body{
    padding: 5px 20px;
}

/* 运营管理 常见问题*/
#problem .el-form-item--small .el-form-item__content{
    width: 200px;
}
#problem .add-problem .el-form-item--small .el-form-item__content{
    width: auto;
}

/* 运营管理 促销列表*/
#rulelist .el-form-item--small .el-form-item__content{
    width: 200px;
}
#rulelist .el-dialog{
    width: 930px;
}
#rulelist .radio-form .el-form-item--small .el-form-item__content{
    width: auto;
}

/* 运营管理 学院文章管理*/
#articleManage .el-upload--text{
    width: 200px;
    height: 150px;
}
#articleManage .el-upload--text i{
    position: absolute;
    top: 44%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
/* 运营管理 促销规则设置 */
#ruleSetting .el-form-item--small .el-form-item__content{
    width: 200px;
}
#ruleSetting .radio-form .el-form-item--small .el-form-item__content{
    width: auto;
}